.login {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #444;
  font-family: "JetBrains Mono", monospace;
}

.loginTitle {
  font-size: 60px;
  color: #ffc83d;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
  color: white;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  outline: none;
  width: 400px;
  font-family: "JetBrains Mono", monospace;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 3px;
  font-family: "JetBrains Mono", monospace;
}

.loginRegisterButton {
  position: absolute;
  top: 100px;
  right: 50px;
  background-color: teal;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: "JetBrains Mono", monospace;
}
