.singlePost {
  flex: 9;
  font-family: "JetBrains Mono", monospace;
  margin: 45px;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
}

.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.singlePostTitle {
  text-align: center;
  margin: 20px;
  font-size: 28px;
  text-transform: capitalize;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: red;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: black;
  padding: 10px;
}

.singlePostAuthor {
  margin-left: 5px;
}

.singlePostDesc {
  color: black;
  font-size: 15px;
  text-align: justify;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
}
