.top {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "JetBrains Mono", monospace;
  background-color: #ffc83d;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.topLeftIcon {
  font-size: 30px;
  color: #444;
  cursor: pointer;
}

.topCenter {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topCenterList {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  text-transform: uppercase;
}

.topCenterListItem {
  font-size: 21px;
  font-weight: 300;
  cursor: pointer;
}

.topCenterListItemLogin {
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  background-color: white;
  padding: 7px;
  border: 1px solid;
  border-radius: 15px;
  text-transform: capitalize;
}
.topCenterListItemSignUp {
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  background-color: white;
  padding: 7px;
  border: 1px solid;
  border-radius: 15px;
  text-transform: capitalize;
}

.topCenterListItemLogin:hover {
  background-color: #444;
  color: white !important;
}
.topCenterListItemSignUp:hover {
  background-color: #444;
  color: white !important;
}
.topCenterListItem:hover {
  color: black;
  font-weight: 600;
}

.topRightInput {
  padding: 5px;
}
.topRightIcon {
  font-size: 25px;
  color: #444;
  cursor: pointer;
}
.topLeftIcon:hover {
  color: black;
}
.topRightIcon:hover {
  color: black;
}

.topRight > input {
  font-family: "JetBrains Mono", monospace;
}
