.header {
  margin-top: 50px;
  font-family: "JetBrains Mono", monospace;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
}

.headerTitleLg {
  top: 20%;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.headerTitleSm {
  font-size: 15px;
  background-color: #444;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.headerImg {
  width: 80%;
  height: 450px;
  margin-top: 50px;
  object-fit: cover;
  margin-left: 160px;
}
