.sidebar {
  flex: 3;
  height: fit-content;
  margin: 60px;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
  border-radius: 5px;
  background-color: #ffc83d;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTitle {
  margin: 10px;
  padding: 10px;
  width: 80%;
  background-color: #444444;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: white;
  letter-spacing: 5px;
}

.sidebarItem > img {
  margin-top: 15px;
  width: 290px;
  height: 210px;
}

.aboutText {
  padding: 30px;
  width: 290px;
}

.sidebarList {
  list-style-type: none;
  margin-bottom: 30px;
}

.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.sidebarIcon {
  font-size: 30px;
  color: #444;
  cursor: pointer;
}

.sidebarIcon:hover {
  color: black;
}
