.settings {
  display: flex;
  font-family: "JetBrains Mono", monospace;
  margin-top: 30px;
  padding: 30px;
}

.settingsWrapper {
  flex: 9;
  padding: 20px;
  /* border: 2px dotted #444; */
}

.settingsTitleandIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsTitleUpdate {
  font-size: 20px;
  margin-bottom: 20px;
  color: red;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 3px;
  border: 2px solid black;
}

.settingsDeleteIcon {
  color: red;
  font-size: 25px;
  cursor: pointer;
}

.settingsForm {
  display: flex;
  flex-direction: column;
}

.settingsPP {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.settingsPP > img {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  object-fit: cover;
}

.settingsPPIcon {
  width: 25px;
  height: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  font-size: 25px;
  color: #444;
}

.settingsPPButton:focus {
  outline-style: none;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.settingsForm > input {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  font-family: "JetBrains Mono", monospace;
}

.settingsSubmitButton {
  font-family: "JetBrains Mono", monospace;
  align-self: center;
  width: 150px;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsSubmitButton:hover {
  background-color: rgb(1, 114, 114);
}
