.post {
  width: 400px;
  margin: 0px 25px 40px 25px;
  display: flex;
  flex-direction: column;
  font-family: "JetBrains Mono", monospace;
  color: black;
  border-radius: 10px;
}

.postImg {
  width: 400px;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postTitle {
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
.postCategory {
  margin-top: 5px;
  font-size: 14px;
  line-height: 15px;
  margin-right: 10px;
  cursor: pointer;
}
.postDate {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
}

.postDesc {
  text-align: justify;
  font-size: 16px;
  margin-top: 15px;
  overflow: hidden;
  padding: 10px;
}
