.signup {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #444;
  font-family: "JetBrains Mono", monospace;
}

.signupTitle {
  font-size: 60px;
  color: #ffc83d;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.signupForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-family: "JetBrains Mono", monospace;
}

.signupForm > label {
  margin: 10px 0;
  color: white;
}

.signupInput {
  padding: 10px;
  background-color: white;
  border: none;
  width: 400px;
  font-family: "JetBrains Mono", monospace;
}

.signupInput:focus {
  outline: none;
}

.signupButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 3px;
  font-family: "JetBrains Mono", monospace;
}

.signupLoginButton {
  position: absolute;
  top: 100px;
  right: 50px;
  background-color: red;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  font-family: "JetBrains Mono", monospace;
  border-radius: 10px;
  letter-spacing: 2px;
}
