.newPost {
  padding-top: 50px;
  font-family: "JetBrains Mono", monospace;
}

.newPostImg {
  margin-left: 150px;
  width: 70vw;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.newPostForm {
  position: relative;
}

.newPostFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.newPostIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 2px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.newPostIcon:hover {
  background-color: black;
  color: white;
}

.newPostInput {
  font-size: 22px;
  border: none;
  padding: 20px;
  width: 70vw;
  font-family: "JetBrains Mono", monospace;
}

.newPostInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.newPostInput:focus {
  outline-style: none;
}

.newPostText {
  width: 70vw;
  height: 100vh;
  font-family: inherit;
  font-size: 20px;
}

.newPostSubmit {
  position: absolute;
  top: 20px;
  right: 290px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
}
.newPostSubmit:hover {
  background-color: rgb(15, 141, 141);
}
